@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 225 62% 9%;
    --foreground: 210 40% 98%;
    --card: 226 69% 13%;
    --card-foreground: 210 40% 98%;
    --popover: 225 62% 9%;
    --popover-foreground: 210 40% 98%;
    --primary: 191 100% 50%;
    --primary-foreground: 225 62% 9%;
    --secondary: 226 69% 13%;
    --secondary-foreground: 210 40% 98%;
    --muted: 226 69% 13%;
    --muted-foreground: 210 40% 80%;
    --accent: 164 100% 50%;
    --accent-foreground: 225 62% 9%;
    --destructive: 326 100% 60%;
    --destructive-foreground: 210 40% 98%;
    --border: 226 69% 13%;
    --input: 226 69% 13%;
    --ring: 191 100% 50%;
    --chart-1: 191 100% 50%;
    --chart-2: 251 100% 66%;
    --chart-3: 164 100% 50%;
    --chart-4: 326 100% 60%;
    --chart-5: 43 74% 66%;
    --radius: 0.5rem;
    --sidebar-background: 225 62% 9%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 210 40% 98%;
    --sidebar-primary-foreground: 225 62% 9%;
    --sidebar-accent: 226 69% 18%;
    --sidebar-accent-foreground: 191 100% 50%;
    --sidebar-border: 226 69% 13%;
    --sidebar-ring: 191 100% 50%;
  }

  .dark {
    --background: 225 62% 9%;
    --foreground: 210 40% 98%;
    --card: 226 69% 13%;
    --card-foreground: 210 40% 98%;
    --popover: 225 62% 9%;
    --popover-foreground: 210 40% 98%;
    --primary: 191 100% 50%;
    --primary-foreground: 225 62% 9%;
    --secondary: 226 69% 13%;
    --secondary-foreground: 210 40% 98%;
    --muted: 226 69% 13%;
    --muted-foreground: 210 40% 80%;
    --accent: 164 100% 50%;
    --accent-foreground: 225 62% 9%;
    --destructive: 326 100% 60%;
    --destructive-foreground: 210 40% 98%;
    --border: 226 69% 13%;
    --input: 226 69% 13%;
    --ring: 191 100% 50%;
    --chart-1: 191 100% 50%;
    --chart-2: 251 100% 66%;
    --chart-3: 164 100% 50%;
    --chart-4: 326 100% 60%;
    --chart-5: 43 74% 66%;
    --sidebar-background: 225 62% 9%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 210 40% 98%;
    --sidebar-primary-foreground: 225 62% 9%;
    --sidebar-accent: 226 69% 18%;
    --sidebar-accent-foreground: 191 100% 50%;
    --sidebar-border: 226 69% 13%;
    --sidebar-ring: 191 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
